header {
    background: url("../images/covid.png");
    height: 200px;
    text-align: center;
}

.text-box {
    padding-top: 50px;
    font-family: 'Bungee', cursive;
    font-size: 40px;
    color: black;
}


body {
    font-family: 'Neuton', serif;
    font-size: 18px;
}

.container {
   padding: 30px
}

.card {
    margin: 30px
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
}